In [24]:
from lion_weapon import LionWeapon
from file_utils import get_filepaths_list
from datetime import datetime


filepath_list = get_filepaths_list("receipts")

lp = LionWeapon()
lp.calculate(filepath_list)


lp.get_position_at_date(datetime(2023, 12, 31))

  1 of 78 documents processed.
  2 of 78 documents processed.
  3 of 78 documents processed.
  4 of 78 documents processed.
  5 of 78 documents processed.
  6 of 78 documents processed.
  7 of 78 documents processed.
  8 of 78 documents processed.
  9 of 78 documents processed.
 10 of 78 documents processed.
 11 of 78 documents processed.
 12 of 78 documents processed.
 13 of 78 documents processed.
 14 of 78 documents processed.
 15 of 78 documents processed.
 16 of 78 documents processed.
 17 of 78 documents processed.
 18 of 78 documents processed.
 19 of 78 documents processed.
 20 of 78 documents processed.
 21 of 78 documents processed.
 22 of 78 documents processed.
 23 of 78 documents processed.
 24 of 78 documents processed.
 25 of 78 documents processed.
 26 of 78 documents processed.
 27 of 78 documents processed.
 28 of 78 documents processed.
 29 of 78 documents processed.
 30 of 78 documents processed.
 31 of 78 documents processed.
 32 of 78 documents processed.
 33 of 78 documents processed.
 34 of 78 documents processed.
 35 of 78 documents processed.
 36 of 78 documents processed.
 37 of 78 documents processed.
 38 of 78 documents processed.
 39 of 78 documents processed.
 40 of 78 documents processed.
 41 of 78 documents processed.
 42 of 78 documents processed.
 43 of 78 documents processed.
 44 of 78 documents processed.
 45 of 78 documents processed.
 46 of 78 documents processed.
 47 of 78 documents processed.
 48 of 78 documents processed.
 49 of 78 documents processed.
 50 of 78 documents processed.
 51 of 78 documents processed.
 52 of 78 documents processed.
 53 of 78 documents processed.
 54 of 78 documents processed.
 55 of 78 documents processed.
 56 of 78 documents processed.
 57 of 78 documents processed.
 58 of 78 documents processed.
 59 of 78 documents processed.
 60 of 78 documents processed.
 61 of 78 documents processed.
 62 of 78 documents processed.
 63 of 78 documents processed.
 64 of 78 documents processed.
 65 of 78 documents processed.
 66 of 78 documents processed.
 67 of 78 documents processed.
 68 of 78 documents processed.
 69 of 78 documents processed.
 70 of 78 documents processed.
 71 of 78 documents processed.
 72 of 78 documents processed.
 73 of 78 documents processed.
 74 of 78 documents processed.
 75 of 78 documents processed.
 76 of 78 documents processed.
 77 of 78 documents processed.
 78 of 78 documents processed.
          data compra_venda abbreviation        titulo ativo    qtd  preco  \
0   2018-03-21            V        PSSA3  PORTO SEGURO    ON  200.0  50.07
1   2022-11-10            C        BBAS3        BRASIL    ON  100.0  36.10
2   2022-11-10            C        BBAS3        BRASIL    ON  100.0  36.09
3   2022-11-10            C        BBAS3        BRASIL    ON  100.0  36.10
4   2022-11-10            C        BBAS3        BRASIL    ON  100.0  36.09
..         ...          ...          ...           ...   ...    ...    ...
246 2020-08-05            C        BBDC4      BRADESCO    PN  900.0  21.90
247 2019-04-09            C        PSSA3  PORTO SEGURO    ON  100.0  54.77
248 2018-04-04            C        PSSA3  PORTO SEGURO    ON  100.0  46.96
249 2018-04-04            C        PSSA3  PORTO SEGURO    ON  100.0  46.96
250 2018-03-30            C        ITUB4  ITAUUNIBANCO    PN  100.0  35.13

     valor_operacao  taxas  total_ajustado  preco_ajustado
0           10014.0   4.08        10009.92       50.049600
1            3610.0   5.41         3615.41       36.154100
2            3609.0   5.41         3614.41       36.144100
3            3610.0   5.41         3615.41       36.154100
4            3609.0   5.41         3614.41       36.144100
..              ...    ...             ...             ...
246         19710.0   6.04        19716.04       21.906711
247          5477.0   1.72         5478.72       54.787200
248          4696.0   3.90         4699.90       46.999000
249          4696.0   3.90         4699.90       46.999000
250          3513.0  12.25         3525.25       35.252500

[251 rows x 11 columns]
columns Index(['data', 'abbreviation', 'compra_venda', 'qtd', 'preco',
       'valor_operacao', 'taxas', 'total_ajustado', 'preco_ajustado'],
      dtype='object')
columns Index(['data', 'abbreviation', 'compra_venda', 'qtd', 'preco',
       'valor_operacao', 'taxas', 'total_ajustado', 'preco_ajustado'],
      dtype='object')
columns Index(['data', 'abbreviation', 'compra_venda', 'qtd', 'preco',
       'valor_operacao', 'taxas', 'total_ajustado', 'preco_ajustado'],
      dtype='object')
columns Index(['data', 'abbreviation', 'compra_venda', 'qtd', 'preco',
       'valor_operacao', 'taxas', 'total_ajustado', 'preco_ajustado'],
      dtype='object')
columns Index(['data', 'abbreviation', 'compra_venda', 'qtd', 'preco',
       'valor_operacao', 'taxas', 'total_ajustado', 'preco_ajustado'],
      dtype='object')
columns Index(['data', 'abbreviation', 'compra_venda', 'qtd', 'preco',
       'valor_operacao', 'taxas', 'total_ajustado', 'preco_ajustado'],
      dtype='object')
              preco_medio     qtd
abbreviation
BBAS3           33.148568  3100.0
BBDC4           18.806338  4886.0
BRAP3           27.879200  1700.0
BRAP4           28.589915  1300.0
ENAT3           11.397317  2500.0
EZTC3           15.686023  6200.0
ITUB3           20.519738  5200.0
PSSA3           31.456164  5400.0
VALE3           65.189900   300.0
WEGE3           20.210678  1700.0

  abbreviation      qtd
0        BBAS3   3100.0
1        BBDC4   4886.0
2        BRAP3   1300.0
3        ENAT3    200.0
4        EZTC3  10800.0
5        ITUB3   5200.0
6        PSSA3   4100.0
7        VALE3   1800.0
8        WEGE3   1700.0

In [19]:
lp.df[lp.df.abbreviation == "PSSA3"].sort_values("data")

,data,abbreviation,compra_venda,qtd,preco,valor_operacao,taxas,total_ajustado,preco_ajustado
0,2018-03-21 00:00:00,PSSA3,V,-200.0,50.07,10014.0,4.08,10009.92,50.0496
7,2018-03-30 00:00:00,PSSA3,C,900.0,30.811429,27282.0,20.92,27366.36,30.407067
10,2018-04-04 00:00:00,PSSA3,C,200.0,46.96,9392.0,3.9,9399.8,46.999
11,2018-05-30 00:00:00,PSSA3,C,500.0,42.36,21180.0,7.73,21187.73,42.37546
14,2018-06-15 00:00:00,PSSA3,C,100.0,39.5,3950.0,2.12,3952.12,39.5212
15,2018-08-22 00:00:00,PSSA3,C,100.0,56.77,5677.0,2.71,5679.71,56.7971
16,2018-09-10 00:00:00,PSSA3,C,100.0,56.4,5640.0,4.21,5644.21,56.4421
18,2018-10-24 00:00:00,PSSA3,C,100.0,53.47,5347.0,1.73,5348.73,53.4873
19,2018-11-12 00:00:00,PSSA3,C,100.0,53.0,5300.0,1.66,5301.66,53.0166
20,2019-01-03 00:00:00,PSSA3,C,100.0,50.33,5033.0,1.6,5034.6,50.346
21,2019-04-09 00:00:00,PSSA3,C,100.0,54.77,5477.0,1.72,5478.72,54.7872
22,2019-04-29 00:00:00,PSSA3,C,200.0,55.63,11126.0,3.5,11133.0,55.665
23,2019-05-31 00:00:00,PSSA3,C,100.0,52.98,5298.0,1.68,5299.68,52.9968
24,2019-08-27 00:00:00,PSSA3,C,200.0,54.28,10856.0,3.42,10862.84,54.3142
26,2020-02-11 00:00:00,PSSA3,C,500.0,67.2,33600.0,10.4,33641.6,67.2832
36,2021-01-04 00:00:00,PSSA3,V,-400.0,48.786667,19515.0,11.86,19479.42,48.69855
84,2021-10-22 00:00:00,PSSA3,C,2700,12.372676,33406.225924,12.372676,33406.225924,12.372676
68,2023-06-09 00:00:00,PSSA3,V,-700.0,27.17,19019.0,5.7,19001.9,27.145571
79,2023-12-01 00:00:00,PSSA3,V,-600.0,28.26,16956.0,5.07,16935.72,28.2262